.gmal__detail_popup {
    width: 640px;
}

#gmal__detail_header {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 0;
    background-color: var(--background-modal);
}

#gmal__detail_search > input {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background-modal);
    transition: all 100ms ease-in-out;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-primary);
}

#gmal__detail_search > input:focus {
    box-shadow: 0 0 0 1px var(--shadow);
}

#gmal__detail_search > input::placeholder {
    color: var(--text-secondary);
}

#gmal__detail_content {
    margin: 0;
    padding: 8px 24px;
    list-style: none;

    display: flex;
    flex-direction: column;
    
    height: auto;
}

.gmal__detail_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gmal__detail_item[data-present="false"] {
    color: var(--text-secondary);
}

.gmal__detail_item::after {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: var(--separator);
}

.gmal__detail_item:last-child::after {
    display: none;
}

.gmal__detail_item > .gmal__detail_item_row:hover {
    background-color: var(--transparent-hover);
}

/* .gmal__detail_item > .gmal__detail_item_row:active {
    background-color: var(--transparent-active);
} */

.gmal__detail_item_row {
    width: 100%;
    padding: 0 8px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 100ms ease-in-out;
}

#gmal__detail_header_title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    padding: 0 8px;
    background-color: var(--background-modal);}

#gmal__detail_header_title > *,
.gmal__detail_item_row > * {
    width: 0;
    /* flex: 1 1 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#gmal__detail_header_title > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-secondary);
}

.gmal__detail_item_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--background-secondary);
}

.gmal__detail_item_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gmal__detail_item_user {
    justify-content: start;
}

#gmal__detail_footer {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
}

#gmal__export {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background-modal);
    transition: all 100ms ease-in-out;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
}


#gmal__export:hover {
    background-color: var(--transparent-hover);
}

#gmal__export:active {
    background-color: var(--transparent-active);
}

