.gmal__list_popup {
    width: 480px;
}

#gmal__list_header {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: sticky;
    top: 0;
    background-color: var(--background-modal);
}

#gmal__list_search {
    width: 100%;
}

#gmal__list_search > input {
    width: 100%;
    height: 48px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background-modal);
    transition: all 100ms ease-in-out;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-primary);
}

#gmal__list_search > input:focus {
    box-shadow: 0 0 0 1px var(--shadow);
}

#gmal__list_search > input::placeholder {
    color: var(--text-secondary);
}

#gmal__list_add_class {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 100ms ease-in-out; 
}

#gmal__list_add_class:hover {
    background-color: var(--transparent-hover);
}

#gmal__list_add_class:active {
    background-color: var(--transparent-active);
}

#gmal__list_content {
    margin: 0;
    padding: 8px 24px;
    list-style: none;

    display: flex;
    flex-direction: column;
    
    height: auto;
}

.gmal__list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gmal__list_item > gmal-detail {
    width: 100%;
    padding: 0 8px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 12px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.gmal__list_item::after {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: var(--separator);
}

.gmal__list_item:last-child::after {
    display: none;
}

.gmal__list_item > gmal-detail:hover {
    background-color: var(--transparent-hover);
}

.gmal__list_item > gmal-detail:active { 
    background-color: var(--transparent-active);
}

.gmal__list_item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gmal__list_item_details {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.gmal__list_item_profiles {
    display: flex;
    align-items: center;
}

.gmal__list_item_profiles > img,
.gmal__list_item_profile_more {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: -8px; /* allows the profile images to overlap */
    border: 2px solid var(--background-modal);
    box-sizing: content-box !important;
}

.gmal__list_item_profile_more {
    border: 2px solid var(--border);
    background-color: var(--background-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-primary);
}

.gmal__list_action_popup {
    position: relative;
}

#gmal__list_global_actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gmal__list_action_popup_button {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    transition: all 100ms ease-in-out;
}

.gmal__list_action_popup_button:hover {
    background-color: var(--transparent-hover);
}

.gmal__list_action_popup_button:has(input[type="checkbox"]:checked) {
    background-color: var(--transparent-active);

    + .gmal__list_action_popup_content {
        visibility: visible;
        display: flex;
    }
}

.gmal__list_action_popup_content {
    min-width: 150px;
    visibility: hidden;
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 8px;
    padding: 8px 4px;
    border-radius: 8px;
    background-color: var(--background-modal);
    box-shadow: 0px 4px 32px var(--shadow24);
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}

.gmal__list_action_popup_item {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 100ms ease-in-out;
}

.gmal__list_action_popup_item > * {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
}

.gmal__list_action_popup_item:hover {
    background-color: var(--transparent-hover);
}

.gmal__list_action_popup_item:active {
    background-color: var(--transparent-active);
}

